@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Courier+Prime&family=Inter:wght@300&family=Poppins:wght@300&family=Red+Hat+Mono&display=swap");

:root {
  --default-white: #fff;
  --default-black: #312f2f;
  --secondary-color: #4b4b49;
  --black-color: #000000;
  --grey-01: #bfbbbb;
  --grey-00: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Mono", sans serif;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main h1 {
  margin: 25px;
  text-align: center;
  display: flex;
}

.hero {
  background-color: var(--strong-color);
  border-radius: 5px;
  box-shadow: 0 0 .5em var(--secondary-color);
  margin-top: 40px;
  max-width: 450px;
  height: 250px;
  padding: 20px;
  border: 1px solid var(--black-color);
}

.final-result {
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#numero {
  margin-top: 20px;
  max-width: 200px;
  height: 35px;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

.fields {
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  color: var(--default-black);
}

.fields input {
  cursor: pointer;
}

input[type="radio"]:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  position: relative;
  background-color: var(--grey-00);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--grey-01);
}

input[type="radio"]:checked:after {
  background-color: var(--black-color);
}

.button {
  font-family: "Arimo";
  font-weight: 600;
  width: 95px;
  height: 32px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  color: var(--default-white);
  background-color: var(--black-color);
}

.button:hover {
  background-color: var(--default-white);
  transition: 0.2s;
  color: var(--black-color);
  font-weight: 600;
}

@media (max-width: 480px) {
  .hero {
    display: flex;
    margin: 0 auto;
    max-width: 320px;
    height: 290px;
  }
}