@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Courier+Prime&family=Inter:wght@300&family=Poppins:wght@300&family=Red+Hat+Mono&display=swap");

:root {
  --default-white: #fff;
  --default-black: #000;
  --primary-color: #98a799;
  --secondary-color: #4b4b49;
  --strong-color: #10587a;
  --hover-color: #598392;
  --clean-color: #696464;
  --button-color: #a4c2a5;
  --hover-copy: #444242;
  --radio-color: #111e93;
}
.swal2-html-container,
.swal2-title {
  color: var(--default-white) !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Mono", sans serif;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.main h1 {
  margin: 25px;
  text-align: center;
  display: flex;
}
.hero {
  background-color: var(--strong-color);
  border-radius: 5px;
  box-shadow: 0 0 2em var(--secondary-color);
  margin-top: 40px;
  max-width: 450px;
  height: 250px;
  padding: 20px;
}
.final-result button {
  text-align: center;
  max-width: 200px;
  padding: 6px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: 0.00001px solid var(--clean-color);
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in;
  opacity: 1;
  color: var(--primary-color);
}
.final-result button:hover i {
  transition: 0.2s ease;
  opacity: 0.4;
}
.final-result button:hover {
  border: 0.00001px solid var(--hover-copy);
}
.final-result button i {
  font-size: 1.2rem;
  transition: 0.2s ease;
}
#numero {
  margin-top: 20px;
  max-width: 200px;
  height: 35px;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--default-black);
}
.fields {
  margin-top: 10px;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  color: var(--default-black);
}
.fields input {
  cursor: pointer;
}
input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: relative;
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--default-white);
}
input[type="radio"]:checked:after {
  border-radius: 15px;
  position: relative;
  background-color: var(--radio-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--default-white);
}
.button {
  font-family: "Arimo";
  font-weight: 600;
  width: 95px;
  height: 32px;
  border-radius: 5px;
  outline: none;
  border: 0.00001px solid var(--strong-color);
  cursor: pointer;
  transition: 0.2s;
  color: var(--default-black);
  background-color: var(--button-color);
}
.button:hover {
  background-color: var(--hover-color);
  transition: 0.2s;
  color: var(--default-white);
  font-weight: 600;
}
@media (max-width: 480px) {
  .hero {
    display: flex;
    margin: 0 auto;
    max-width: 320px;
    height: 290px;
  }
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -1.6em;
  left: 100%;
  padding: 4px 4px 4px 8px;
  color: #222;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f8f8f8),
    color-stop(1, #cccccc)
  );
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}